
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: large;
  font: weight bolder;
}
.font{
  font-weight: 400;
  font-size: 30px;
}
.bold{
  font-weight: 800;
  font-size: 50px;
}
.display-flex{
display: flex;
}
.navbar{
justify-content: space-between;
align-items: center;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
}
.text-gray{
  color: #424242;
}
.bg-light{
  background-color:rgb(241, 223, 201)
}
.brand{
  font-weight: 700;
  font-size: 3rem;
}
.banner{
  justify-content: center;
  text-align: center;
}
.text-primary{
  color: rgb(255, 127, 80);
}
.primary{
  background-color: rgb(223, 169, 88);
  color: white;
  padding: 20px 25px;
  font-size: 1.25rem;
  font-weight: 600;
  border-radius: 8px;
}
.navbar .banner {
max-width: 1440px;
margin: 0 auto;
}
.banner-content{
  max-width: 850px;
  margin: 0 auto;
  margin-bottom: 50px;
}
.banner-title{
font-weight: 700;
font-size: 4rem;
}
.banner-image{
  max-width: 1800px;
  margin-bottom: 8px;
}
.teams{
 justify-content: center;
 align-items: center;
 margin-top: 130px;
 margin: 130px 160px;
}
.team-img-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
.our-features{
  margin-left: 130px;
}
.features-title{
  font-size: 5rem;
  font-weight: 700;
}
#quick-list{
  font-weight: 500;
  
}
.facts-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.fact-card{
  border: 1px solid#ff900e;  
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.all-up{
justify-items: center;
align-items: center;
}
.all{
  margin-top: 20px;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
}
.fact-nam{
  font-size: 1.25rem;
  font-weight: 600;

}
.sponsors-info{
  margin: 50 auto;
  text-align: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(5, 1fr) ;
  margin: 20px auto;
  gap: 50px;
  justify-items: center;
}
.sponsor-companies img{
  filter: grayscale(100%);
}
@media screen and (max-width: 576px){
.navbar,
.teams,
.nav-links{
  flex-direction: column;
}
.team-img-container {
  grid-template-columns: repeat(1,1fr);
}
.our-features{
  margin-left: 20px;
}
.facts-container{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
}
.sponsor-companies{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
}
